footer
{
    background-color: #000000;
    color: #FFFFFF;
    height: 8%;
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    clear: both;
    margin: 0px!important;
}

footer span
{
    margin-top: 0.5%;
}

footer .title
{
    float: left;
    font-size: 16px;
    margin-left: 2%;
}

footer .link
{
    float: right;
    font-size: 12px;
    text-decoration: underline;
    margin-right: 2%;
    cursor: pointer;
}

.modal-title, .modal-body
{
    color: #000000;
}

footer form
{
    text-align: right;
}

footer form button
{
    width: 7%;
    margin: 0.7% 1% 0;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) { 
    footer
    {
        height: 50px;
        position:absolute;
    }

    footer form button
    {
        width: 20%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    footer
    {
        height: 50px;
        position:absolute;
        width: 667px;
    }

    footer form button
    {
        width: 10%;
    }
}

@media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (orientation : portrait) { 
    footer
    {
        height: 50px;
        position:absolute;
        width: 414px;
    }

    footer form button
    {
        width: 20%;
    }
}


@media only screen and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (orientation : landscape) { 
    footer
    {
        height: 50px;
        position:absolute;
        width: 736px;
    }

    footer form button
    {
        width: 10%;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    footer
    {
        height: 50px;
        position:absolute;
        width: 768px;
    }

    footer form button
    {
        width: 10%;
    }
}