<div class="customerTable">
    <form class="form-inline col-md-10 col-md-offset-1">
        <fieldset>
            <div class="form-group col-md-12">
                <select data-ng:model="filterField" class="form-control">
                    <option value="customername" selected>Customer Name</option>
                    <option value="id">Customer ID</option>
                    <option value="productname">Product Name</option>
                    <option value="status">Status</option>
                </select>
                <input type="text" class="form-control" data-ng:model="filterValue" >
            </div>
        </fieldset>
    </form>
    <div class="customer col-md-10 col-md-offset-1">
        <table class="col-md-12 table table-striped header-fixed">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Customer ID</th>
                    <th>Product Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng:repeat="customer in customers | filter:filterCustomers()">
                    <td>{{customer.customername}}</td>
                    <td class="id">{{customer.id}}</td>
                    <td>{{customer.productname}}</td>
                    <td>{{customer.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>